/node_modules
/public/hot
/public/storage
/public/produtosImg
/public/profile-photos
/storage/*.key
/vendor
/.idea
.env
.env.dusk.local
.env.testing
.env.backup
.env.testing
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
composer_2.phar
composer_3.phar
